/*Mobile Devices*/
@media screen and (max-width: 768px) {


    .flex-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif;
    }


    div.header_block {
        height: 80px;
    }

    #logo_dc {
        top: 50%;
        margin-left: 9px;
    }

    #header_menu_button {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 2px;
        position: absolute;
        margin-bottom: 15px;
        right: 20px;
        display: flex;
        justify-content: center;
    }

    #header_menu_button_logo {
        margin: 14px 14px 16px;
        display: block;
    }

    /*Intro Block*/
    #intro_block {
        height: 193px;
        width: 100%;
        color: var(--main_white);

    }

    #intro_block_column2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro_block_column3 {
        display: none;

    }


    #intro_block_title_main {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;

        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        margin-top: 45px;
        padding-bottom: 38px;
    }

    #intro_block_text_main {
        display: none;
    }

    #intro_block_button {
        display: none;
        width: 200px;
        height: 50px;
        border-color: var(--main_blue);
        border-radius: 3px;
        color: var(--main_white);
        background-color: var(--main_blue);
        margin-top: 2em;
        margin-left: 550px;
        transition: all 400ms ease;

    }

    #intro_block_button:hover {
        display: none;
        background-color: var(--main_grey);
        color: var(--main_blue);
    }

    .pagination_three_circle {
        margin: 0 15px 18px 0;
    }

    .pagination_circle {
        margin-left: 10px;
        border: 1px solid var(--main_blue);
        padding-left: 6px;
        color: white;
        font-size: 6px;
        text-decoration: none;
        background-color: var(--main_blue);
    }

    .pagination_circle:hover {
        background-color: var(--main_transperent);
    }

    .pagination_arrow {
        width: 70px;
        height: 141px;
    }

    #intro_block_up_arrow {
        height: 70px;
        width: 70px;
        background-color: var(--main_blue);

    }

    #intro_block_up_arrow:hover {
        --main_blue: var(--main_grey_second);
        --main_grey: var(--main_blue);
    }

    #intro_block_up_arrow div {
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
    }

    #intro_block_up_arrow_rectangle_left {
        position: relative;
        right: 10px;
        left: 31px;
        top: 26px;
        background-color: #DADADA;
    }


    #intro_block_up_arrow_rectangle_right {
        position: relative;
        right: 10px;
        left: 37px;
        top: 8px;
        background-color: var(--main_blue);

    }


    #intro_block_down_arrow {
        height: 70px;
        width: 70px;
        background-color: var(--main_white);
    }


    #intro_block_down_arrow:hover {
        --main_grey: var(--main_blue);
        --main_white: #DADADA;
    }

    #intro_block_down_arrow div {
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
    }

    #intro_block_down_arrow_rectangle_left {
        position: relative;
        right: 10px;
        left: 25px;
        top: 26px;
        background-color: var(--main_grey);
    }


    #intro_block_down_arrow_rectangle_right {
        position: relative;
        right: 10px;
        left: 19px;
        top: 8px;
        background-color: var(--main_white);
    }

    /*Promo block*/
    #promo_block {
        height: 301px;
        background-color: var(--main_blue);
        color: var(--main_white);

        display: flex;
        flex-direction: column;
    }

    #promo_block_column1 {
        display: grid;
        justify-content: center;
        align-content: normal;
    }

    #promo_block_button {
        width: 200px;
        height: 50px;
        border-radius: 3px;
        color: var(--main_blue);
        background-color: #F9F6E5;
        margin-top: 40px;
        line-height: 18px;
        margin-bottom: 51px;
        transition: all 400ms ease;

        left: 16px;
        top: 16px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        display: flex;
        align-items: center;

    }

    #promo_block_button:hover {
        background-color: var(--main_grey);
        color: var(--main_blue);
    }


    #promo_block_column2 {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #promo_block_title {
        width: 280px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        /* or 100% */

        display: flex;
        align-items: flex-end;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 10px;
    }

    #promo_block_text {
        width: 280px;
        height: 73px;
        top: 58px;

        font-family: 'Dosis', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        /* or 112% */

        display: flex;
        align-items: flex-end;
        text-align: center;
    }

    /*Services block*/
    #services_block {
        padding-top: 43px;
        height: 2709px;
        background-color: var(--main_white);
        color: var(--main_blue);

        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 311px 1fr;
    }

    #services_block_column1 {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        height: 300px;
        padding-top: 0;
        padding-left: 0;
    }


    #services_block_header1 {
        padding: 0;
        margin-top: 25px;
        font-family: 'Roboto Condensed', sans-serif;
        height: 32px;
        font-size: 24px;
        line-height: 28px;

        text-align: center;
        letter-spacing: 2px;

    }

    #services_block_header2 {
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        width: 260px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #4A4A4A;

        margin-top: 124px;
        padding-left: 0;

    }

    #services_block_line {
        position: absolute;
        width: 101px;
        height: 8px;
        background-color: var(--main_blue);

        margin-top: 70px;
        margin-left: 4px;

    }

    #services_block_header3 {
        position: absolute;
        color: #797979;
        text-align: center;
        font-size: 15px;
        font-family: Roboto, sans-serif;
        line-height: 17px;

        line-break: strict;

        width: 265px;
        height: 72px;

        margin-top: 197px;
        padding-left: 0;
    }

    #services_block_header3::after {
        content: "измерения производительности";
    }

    #services_block_column2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        background-color: var(--main_white);

    }


    .services_block_strategy_1title {
        margin-top: var(--service_block_title);
        height: 20px;
        font-family: 'Roboto Condensed', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        text-align: center;


    }

    div.services_block_column2_item {
        margin-top: -1px;
        margin-bottom: -1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 246px;
        height: 277px;
        border: 2px solid transparent;
        transition: all 400ms ease;


    }

    div.services_block_column2_item:hover {
        margin-top: 0;
        margin-bottom: 0;
        border: 4px solid var(--main_blue);
        --main_white: var(--main_blue);
        --main_white_block_service: var(--main_grey_second);

        --move_up_sevice_block: 25px;
        --service_block_title: 14px;
    }

    .services_block_column2_item_border {
        display: flex;
        height: 309px;
        width: 285px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #F9F6E5;
        margin-top: -3px;
    }


    .services_block_strategy_1text {
        color: var(--main_white_block_service);
        margin-top: 21px;
        width: 196px;
        height: 48px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;

    }

    .services_block_strategy_1more {
        margin-top: 18px;
        text-align: center;
        width: 196px;
        height: 48px;
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: var(--main_white);
    }

    /*RECENT BLOCK*/
    #recent_work_block {
        margin-top: 88px;
        height: 1384px;
        background-color: var(--main_blue); /* For browsers that do not support gradients */
        background-image: linear-gradient(var(--main_blue), var(--main_white));

        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 111px 1fr;
    }

    #recent_work_block_line {
        width: 50px;
        height: 8px;
        background-color: var(--main_white);
        margin-top: 7px;
    }

    #recent_block_strategy_title {
        height: 52px;
        padding-top: 13px;

        font-family: 'Roboto Condensed', sans-serif;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 56px;
        display: flex;
        align-items: flex-end;
        text-align: center;

        color: var(--main_white);
    }

    #recent_block_row1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #recent_block_row2 {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 10px 1fr 1fr 1fr 1fr 10px;
        align-items: normal;
    }

    .recent_block_images {
        width: 275px;
        height: 248px;
        border-radius: 4px;
        /*margin-top: 8px;*/
        z-index: 1;
        position: absolute;
    }

    .recent_block_titles {
        padding-top: 20px;
        height: 26px;
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2px;
        color: var(--main_blue);
    }

    .recent_block_div_hoer {
        z-index: var(--z_index_recent);
        top: 12px;
        margin: auto;
        position: relative;
        border-radius: 4px;

        opacity: 0.8;
        width: 243px;
        height: 217px;
        background-color: var(--main_white);

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .recent_block_images_container_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recent_block_images_container {
        width: 280px;
        height: 250px;
        align-content: center;
        align-items: center;
    }

    .recent_block_images_container:hover {
        --z_index_recent: 2;
    }

    .recent_block_logo_search {
        margin-top: 6px;
    }

    /*VIDEO BLOCK*/
    #video_block {
        height: 841px;
        background-color: var(--main_white); /* For browsers that do not support gradients */

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #video_block_column1 {
        display: grid;
        justify-items: flex-end;
        padding-top: 18px;
        padding-right: 7px;
    }

    #video_block_image {
        width: 281px;
        height: 244px;
        padding-left: 5px;
        border-radius: 4px;
    }

    .video_work_block_line {
        width: 45px;
        height: 8px;
        background-color: var(--main_blue);
        margin-left: 0;
        margin-top: 11px;
    }


    #video_block_button {
        width: 232px;
        height: 63px;
        border-color: var(--main_blue);
        border-radius: 3px;
        color: var(--main_white);
        background-color: var(--main_blue);
        margin-left: 0;
        margin-top: 98px;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 51px;
        transition: all 400ms ease;

    }

    #video_block_button:hover {
        background-color: var(--main_grey);
        color: var(--main_blue);
    }

    #video_block_titles1 {
        width: 192px;
        height: 52px;
        padding-top: 32px;
        padding-left: 104px;
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 56px;
        display: flex;
        align-items: flex-end;
        color: var(--main_blue);
    }

    #video_block_titles2 {
        width: 240px;
        height: 248px;
        margin-top: 29px;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        color: #9B9B9B;
    }


    #video_block_column2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*NEWS BLOCK*/
    #news_block {
        height: 2896px;
        width: 100%;
        background-color: var(--news_block_background); /* For browsers that do not support gradients */

        display: grid;
        grid-template-rows:141px 1fr;
    }

    #news_block_row1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }


    #news_block_titles1 {
        height: 0;
        padding-top: 54px;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 0;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #4A4A4A;
    }

    #news_work_block_line {
        width: 49px;
        height: 8px;
        background-color: var(--main_blue);
        margin-top: 39px
    }

    #news_block_row2 {
        display: grid;
        grid-template-columns:none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        justify-content: center;
    }

    .news_block_images {
        height: 406px;
        border-radius: 4px;
        outline: 8px solid transparent;
        outline-offset: -8px;
        z-index: 1;


    }

    .news_block_images:hover {
        outline: 8px solid var(--main_blue);
    }

    .news_block_titles {
        padding-top: 6px;
        padding-left: 9px;
        color: var(--news_black_to_white);
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 2px;
    }

    .news_block_column1 {
        margin-bottom: 0;
        align-content: center;
        align-items: center;
    }

    .news_block_column1:hover {
        --move_up_news_block: -60px;
        --news_color_white_to_blue: var(--main_blue);
        --news_black_to_white: var(--main_white);
        --news_block_zindex_logo: 3;
    }

    .news_blue_line_block {
        position: absolute;
        width: 270px;
        height: 40px;
        background-color: var(--news_color_white_to_blue);
        margin-top: var(--move_up_news_block);
        border-radius: 0 0 4px 4px;
    }

    .news_block_info_logo {
        position: absolute;
        margin: 215px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_info_logo2 {
        position: absolute;
        margin: 50px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_column1_add_margin_top {
        margin-top: 54px;
    }

    #news_block_info_logo3 {
        position: absolute;
        margin: 150px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_info_logo4 {
        position: absolute;
        margin: 160px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_info_logo5 {
        position: absolute;
        margin: 180px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_info_logo6 {
        position: absolute;
        margin: 70px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_info_logo7 {
        position: absolute;
        margin: 80px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_info_logo8 {
        position: absolute;
        margin: 200px -145px;
        z-index: var(--news_block_zindex_logo);
    }

    #news_block_image2_media {
        content: url("../images/news3.png");
        height: 304px;
    }

    #news_block_titles2_text:after {
        content: var(--news_block_change_text_2b);
    }

    #news_block_image3_media {
        content: url("../images/news5.png");
    }

    #news_block_titles3_text:after {
        content:"";
    }

}

