:root {
    --main_blue: #2B4074;
    --main_white: #FFFFFF;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1440px;
    font-family: 'Roboto Condensed', sans-serif;
}

#header_block {
    position: relative;
    height: 100px;
    background-color: var(--main_blue);
}

#logo_dc {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 1em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header_menu_button {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 2px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 1em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}

#header_menu_button_logo {
    margin: 10px 14px 16px;
    display: block;
}

#intro_block {
    height: 668px;
    color: var(--main_white);

    display: grid;
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 1fr;
}

#intro_block_column2 {
    grid-column-start: 2;
    grid-column-end: span 1;
}

#intro_block_column3 {
    grid-column-start: 3;
    grid-column-end: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#intro_block_title_main {
    font-style: normal;
    font-weight: 400;
    line-height: 60px;

    margin-top: 2em;
    text-align: center;
    letter-spacing: 2px;
}

#intro_block_text_main {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--main_white);
}

#intro_block_button {
    width: 200px;
    height: 50px;
    border-color: var(--main_blue);
    border-radius: 3px;
    color: var(--main_white);
    background-color: var(--main_blue);
    margin-top: 2em;
    margin-left: 550px;
}

---------------------------------------------------------------------,
-------------------------,
.pagination_three_circle {
    margin-left: 600px;
    margin-top: 180px;
}

.pagination_circle {
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding-left: 18px;
    color: white;
    text-decoration: none;
}

.pagination_circle:hover {
    background-color: var(--main_white);
}

-------------------------,
---------------------------------------------------------------------,
.pagination_arrow {
    width: 70px;
    height: 141px;
}

#intro_block_up_arrow {
    height: 70px;
    width: 70px;
    background-color: var(--main_blue);
}

#intro_block_up_arrow:hover {
    --main_blue: white;
    --main_white: #2B4074;
}

#intro_block_up_arrow div {
    width: 18px;
    height: 18px;
    transform: rotate(-45deg);
}

#intro_block_up_arrow_rectangle_left {
    position: relative;
    right: 10px;
    left: 31px;
    top: 26px;
    background-color: #DADADA;
}


#intro_block_up_arrow_rectangle_right {
    position: relative;
    right: 10px;
    left: 37px;
    top: 8px;
    background-color: var(--main_blue);

}


#intro_block_down_arrow {
    height: 70px;
    width: 70px;
    background-color: var(--main_white);
}


#intro_block_down_arrow:hover {
    --main_blue: white;
    --main_white: #2B4074;
}

#intro_block_down_arrow div {
    width: 18px;
    height: 18px;
    transform: rotate(-45deg);
}

#intro_block_down_arrow_rectangle_left {
    position: relative;
    right: 10px;
    left: 25px;
    top: 26px;
    background-color: #DADADA;
}


#intro_block_down_arrow_rectangle_right {
    position: relative;
    right: 10px;
    left: 19px;
    top: 8px;
    background-color: var(--main_white);
}


#promo_block {
    height: 192px;
    background-color: var(--main_blue);
    color: var(--main_white);

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr;
}

#promo_block_column1 {
    display: grid;
    justify-content: center;
    align-content: center;
}

#promo_block_button {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    color: var(--main_blue);
    background-color: var(--main_white);
    margin-top: 2em;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 51px;
}

#services_block {
    height: 547px;
    background-color: var(--main_white);
}


#promo_block_column2 {
    display: grid;
    justify-content: center;
    align-content: center;
}

#promo_block_title {
    bottom: 4px;
    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
}

#promo_block_text {
    font-family: 'Dosis', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
}