:root {
    --main_blue: #2B4074;
    --main_white: #FFFFFF;
}

.task_block {
    display: flex;
    flex-direction: row;
    height: 160px;
    background-color: aliceblue;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

#task1_div {
    display: unset;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 20px;
}

.task1_button {
    width: 80px;
    height: 30px;
    margin: 10px;
    color: black;
}

#task2_div {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 20px;
    transition: opacity .5s;
    opacity: 0.2;
}

/*TASK 3*/
.task3_five_blocks {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 20px;
    transition: opacity .5s;
}

/*TASK 4*/

#task4_input {
    margin-left: 20px;
}

#task5_div {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: yellow;
}

#task6_div {
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: red;
}

#task7_div {
    width: 50px;
    height: 20px;
    margin: 20px;
    background-color: forestgreen;
    transition: opacity .5s;

}

#task8_div {
    width: 120px;
    height: 120px;
    margin: 20px;
    transition: opacity .5s;
}

/*TASK 10*/
#task10_div {
    width: 360px;
    height: 100%;
    background-color: #cccccc;
    margin-left: auto;
    border-radius: 5px;
}

#task10_paragraph1 {
    width: 100%;
    font-size: 22px;
    color: white;
    background-color: #2B4074;
}

#task10_paragraph2 {
    width: 100%;
    margin-top: 5px;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    background-color: #2B4074;
}

#task10_paragraph3 {
    width: 100%;
    margin-top: 5px;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    background-color: #2B4074;
}

/*TASK 10*/
.task13_textarea {
    width: 33%;
    height: 100%;
    margin: 10px;
}

textarea::placeholder {
    font-size: 40px;
    text-align: center;
}

#task14_up_button {
    font-size: 20px;
    opacity: 0.1;
    transition: opacity 2s;
}

#task14_div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#task14_a_button {
    font-size: 23px;
    color: black;
    text-decoration: none;
    background: lightgray;
    width: 142px;
    height: 46px;
    text-align: center;
    line-height: 2;
    border: solid black 1px;
    border-radius: 5px;
    transition: opacity 2s;
}

#task15_big_div {
    background-color: darkolivegreen;
    margin: 30px;
    width: 130px;
    height: 130px;
    display: grid;
    align-content: center;
    justify-content: center;
}

#task15_small_div {
    background-color: forestgreen;
    width: 65px;
    height: 65px;
}

#task16button {
    width: 80px;
    height: 40px;
}

#task16divAlert {
    top: 50px;
    left: 50px;
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 2;
    background-color: lightslategrey;
    opacity: 0.3;
    display: none;
}

#t18Input {
    width: 200px;
    height: 140px;
    background-color: lightslategrey;
}

/*TASK 19*/


.container {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    width: 60%;
    min-width: 27.5em;
    padding: 5.12em 3.87em;
    transform: translate(-1%, -1%);
    box-shadow: 0 1.25em 3.43em rgba(0, 0, 0, 0.08);
    border-radius: 0.5em;
}

input[type="file"] {
    display: none;
}

.task18_label {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    width: 16em;
    padding: 1em 0;
    border-radius: 0.3em;
    margin: 0 auto 1em auto;
    cursor: pointer;
}
#image-display {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1.25em;
    flex-wrap: wrap;
}
#image-display figure {
    width: 45%;
}
#image-display img {
    width: 100%;
}
#image-display figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
}
.active {
    border: 0.3em dashed #025bee;
}
#error {
    text-align: center;
    color: #ff3030;
}