:root {
    --main_blue: #2B4074;
    --main_white: #FFFFFF;
}

.inputCell{
    width: 100%;
}

.cellAdd {
    border: 2px solid;
    background-color: rgba(0,237,6,0.33);
}

.cell:hover {
    background-color: rgba(1, 216, 1, 0.33);
    border: 3px;

}

.cell_delete {
    border: 2px solid;
    background-color: rgba(235, 1, 9, 0.59);
}

.cell_delete:hover {
    border: 2px solid;
    background-color: rgba(180, 1, 9, 0.83);
}

.table {
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    margin: 0 0 0 33px;
}

.buttonAddEmptyRow {
    width: 1000px;
    margin: 33px 0 0 33px;
}